<!DOCTYPE html>
<html lang="en">
<head>
    
<body>
    


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css" />

<!-- Tailwind-css Navbar  -->
<nav class="bg-red-700 shadow-lg sticky top-0 z-50">
  <div class="container mx-auto">
    <div class="sm:flex justify-around">
      <!-- Site-title  -->
      <a href="#" class="text-white text-3xl font-bold p-3">Price History</a>

      <!-- Menus  -->
      <ul class="text-gray-400 sm:self-center text-xl border-t sm:border-none">
        <li class="sm:inline-block">
          <a href="#" class="p-3 hover:text-white">Home</a>
        </li>
        <li class="sm:inline-block">
          <a href="#" class="p-3 hover:text-white">Deals</a>
        </li>
        <li class="sm:inline-block">
          <a href="#" class="p-3 hover:text-white">Downloads</a>
        </li>
        <li class="sm:inline-block">
          <a href="#" class="p-3 hover:text-white">{{ abc }}</a>
        </li>
        <li class="sm:inline-block">
          <a href="#" class="p-3 hover:text-white">Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <h1>Price History For Different Products</h1> -->
<div class="div mx-40 w-8/12  mt-40 ml-50">
    <div class="div">
        <!-- <h1>Price History For Different Products</h1> -->
        <p class="text-4xl font-black ...">Price History For Different Products</p>
    </div>
    <div class="bg-white shadow p-4 flex mr-20 rounded-lg">
        <!-- <span class="w-auto flex justify-end items-center text-gray-500 p-2">
            <i class="material-icons text-3xl"></i>
        </span> -->

        <form action='/' method='POST'>
        <input class="w-full rounded-lg p-2" type="text" placeholder="Paste The Product Url " name="url">
        <a href='json'>
        <button class="w-1/5 bg-red-400 hover:bg-red-300 rounded text-white p-2 pl-4 pr-4" action='/json'>
                <p type="submit" class="font-semibold text-xs">Track price</p>
        </button></a>
    </form>
    </div>
    <div class="flex flex-row mt-8 justify-around mr-8">
        
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/amazon.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/flipkart.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/myntra.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/tatacliq.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/paytmmall.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/croma.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/zivame.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-lg shadow-xl " src="https://pricehistory.in/images/brands/nykaa.png">
        </div>
        <div class="">
            <img class="object-contain h-16 w-full rounded-md shadow-xl " src="https://pricehistory.in/images/brands/ajio.png">
        </div>
        <!-- <div class="">
            <img class="object-contain h-16 w-full rounded-md shadow-xl " src="https://pricehistory.in/images/brands/koovs.png">
        </div> -->
        
      </div>

      <!-- {% block content %}{% endblock %} -->

      <div class="mt-10 border-b border-gray-200 rounded-lg">
      <table class="table-auto">
          {% if da %}
        <thead>
          <tr class="bg-red-400 rounded-lg">
            <th class="px-4 py-2">Product</th>
            <th class="px-4 py-2">ASIN</th>
            <th class="px-4 py-2">DATE</th>
            <th class="px-4 py-2">PRICE</th>
            <th class="px-4 py-2">RATING</th>
            <th class="px-4 py-2">TITLE</th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
          {% for row in da %}
          <tr  class="bg-emerald-200">
        <td class="px-4 py-2">{{ ur }}</td>
          {% for col in row %}
          <td class="px-4 py-2">{{ col }}</td>
          {% endfor %}
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
      </div>

</div>


<!--  -->



<h2 class="text-3xl mt-20 mx-40 font-heading font-bold text-gray-900 dark:text-white">Latest Deals</h2>
<div class="flex flex-row mx-40 ml-30 justify-around space-x-10 w-8/12 inset-3">


    <div class="deals-cell rounded-lg border border-gray-300 dark:border-gray-900 overflow-hidden">
        <div class="rounded-lg flex flex-col pb-2 bg-gray-100">
            <div class="w-full bg-white rounded-t-lg h-32 flex justify-center border-b border-gray-300 py-1">
                <img src="https://images-na.ssl-images-amazon.com/images/I/410FXoimqMS.jpg"
                    class="h-full rounded-lg">
            </div>
            <div class="w-full font-heading font-bold text-base md:text-lg flex flex-row pl-2 pt-2">
                <span class="text-purple-500">₹183</span>
                <span class="ml-3 text-gray-500 line-through"><small>₹424</small></span>
            </div>
            <div class="w-full px-2">
                <a href="/redirect?url=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2F9390679052%2F" target="_blank" class="font-body font-semibold text-sm">
                    <p class="truncate">Lady Doctors: The Untold Stories of India&#39;s First Women in Medicine 9789390679058</p>
                </a>
            </div>
            <div class="flex flex-row text-gray-200 pl-1"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><span class="text-gray-800 ml-2">0.0</span></div>
            <div class="w-full flex flex-row px-2 mt-1">
                <a href="/s/F8_pSq"
                    class="w-1/2 bg-purple-600 hover:bg-purple-700 text-white rounded-lg mr-1 font-semibold py-1 text-center"><i
                        class="icon-chart-alt"></i> History</a>
                <a href="/redirect?url=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2F9390679052%2F" target="_blank"
                    class="w-1/2 bg-orange-500 hover:bg-orange-600 text-white rounded-lg ml-1 font-semibold py-1 text-center">Amazon
                    <i class="icon-link-ext-alt"></i></a>
            </div>
        </div>
    </div><div class="deals-cell rounded-lg border border-gray-300 dark:border-gray-900 overflow-hidden">
        <div class="rounded-lg flex flex-col pb-2 bg-gray-100">
            <div class="w-full bg-white rounded-t-lg h-32 flex justify-center border-b border-gray-300 py-1">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51sEna9ERmL.jpg"
                    class="h-full rounded-lg">
            </div>
            <div class="w-full font-heading font-bold text-base md:text-lg flex flex-row pl-2 pt-2">
                <span class="text-purple-500">₹180</span>
                <span class="ml-3 text-gray-500 line-through"><small>₹49,295</small></span>
            </div>
            <div class="w-full px-2">
                <a href="/redirect?url=https%3A%2F%2Fwww.amazon.in%2FTUF-X470-Plus-Gaming-Ryzen-Motherboard%2Fdp%2FB07C5YR3KS%2F%26%3Dsr_1_3" target="_blank" class="font-body font-semibold text-sm">
                    <p class="truncate">ASUS TUF X470-Plus Gaming AMD Ryzen 2 AM4 DDR4 HDMI DVI M.2 ATX Motherboard</p>
                </a>
            </div>
            <div class="flex flex-row text-gray-200 pl-1"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><span class="text-gray-800 ml-2">0.0</span></div>
            <div class="w-full flex flex-row px-2 mt-1">
                <a href="/s/ZIU_F3T"
                    class="w-1/2 bg-purple-600 hover:bg-purple-700 text-white rounded-lg mr-1 font-semibold py-1 text-center"><i
                        class="icon-chart-alt"></i> History</a>
                <a href="/redirect?url=https%3A%2F%2Fwww.amazon.in%2FTUF-X470-Plus-Gaming-Ryzen-Motherboard%2Fdp%2FB07C5YR3KS%2F%26%3Dsr_1_3" target="_blank"
                    class="w-1/2 bg-orange-500 hover:bg-orange-600 text-white rounded-lg ml-1 font-semibold py-1 text-center">Amazon
                    <i class="icon-link-ext-alt"></i></a>
            </div>
        </div>
    </div><div class="deals-cell rounded-lg border border-gray-300 dark:border-gray-900 overflow-hidden">
        <div class="rounded-lg flex flex-col pb-2 bg-gray-100">
            <div class="w-full bg-white rounded-t-lg h-32 flex justify-center border-b border-gray-300 py-1">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/41B5lAhDvfL._SX300_SY300_QL70_FMwebp_.jpg"
                    class="h-full rounded-lg">
            </div>
            <div class="w-full font-heading font-bold text-base md:text-lg flex flex-row pl-2 pt-2">
                <span class="text-purple-500">₹488</span>
                <span class="ml-3 text-gray-500 line-through"><small>₹1,469</small></span>
            </div>
            <div class="w-full px-2">
                <a href="/redirect?url=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB0876X6MN9%2F" target="_blank" class="font-body font-semibold text-sm">
                    <p class="truncate">STANLEY STST1-75515 12.5'' Essential Tool Box with Metal Latch ( Black and Yellow) Tool Organisers</p>
                </a>
            </div>
            <div class="flex flex-row text-gray-200 pl-1"><i class="icon-star text-yellow-500"></i><i class="icon-star text-yellow-500"></i><i class="icon-star text-yellow-500"></i><i class="icon-star text-yellow-500"></i><i class="icon-star"></i><span class="text-gray-800 ml-2">4.2</span></div>
            <div class="w-full flex flex-row px-2 mt-1">
                <a href="/s/dqjy6_76AQ"
                    class="w-1/2 bg-purple-600 hover:bg-purple-700 text-white rounded-lg mr-1 font-semibold py-1 text-center"><i
                        class="icon-chart-alt"></i> History</a>
                <a href="/redirect?url=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fproduct%2FB0876X6MN9%2F" target="_blank"
                    class="w-1/2 bg-orange-500 hover:bg-orange-600 text-white rounded-lg ml-1 font-semibold py-1 text-center">Amazon
                    <i class="icon-link-ext-alt"></i></a>
            </div>
        </div>
    </div>

    
    <footer class="footer bg-red-700 shadow-lg sticky "></footer>
    
  </div>



 
  
</body>
</html>