<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    <div class="mt-10 border-b border-gray-200 rounded-lg">
        <table class="table-auto">
          <thead>
            <tr class="bg-red-400 rounded-lg">
              <th class="px-4 py-2">{{ abc }}</th>
              <th class="px-4 py-2">DATE</th>
              <th class="px-4 py-2">TITLE</th>
              <th class="px-4 py-2">PRICE</th>
              <th class="px-4 py-2">RATING</th>
            </tr>
          </thead>
          <tbody>
            
            <tr class="bg-emerald-200">
              <td class="px-4 py-2">A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on Design</td>
              <td class="px-4 py-2">Adam</td>
              <td class="px-4 py-2">112</td>
              <td class="px-4 py-2">Adam</td>
              <td class="px-4 py-2">112</td>
            </tr>
            {% for row in dr %}
            <tr  class="bg-emerald-200">
            {% for col in row %}
            <td class="px-4 py-2">{{ col }}</td>
            {% endfor %}
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
        </div>
</body>
</html>